# Final Part 2
## Lena Bohman
## Police Shootings Database / Washington Post

In [1]:
import pandas as pd
import bqplot
import numpy as np
import traitlets
import ipywidgets
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("fatal-police-shootings-data.csv")
df.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,longitude,latitude,is_geocoding_exact
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False,-123.122,47.247,True
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False,-122.892,45.487,True
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False,-97.281,37.695,True
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False,-122.422,37.763,True
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False,-104.692,40.384,True

In [18]:
race = df.groupby("race")["id"].count()
#race = race.reset_index()
race

race
A      95
B    1356
H     951
N      81
O      47
W    2602
Name: id, dtype: int64

In [17]:
mentalillness = df.groupby(["race", "signs_of_mental_illness"])["id"].count()
#mentalillness = mentalillness.reset_index()
mentalillness

race  signs_of_mental_illness
A     False                        72
      True                         23
B     False                      1147
      True                        209
H     False                       780
      True                        171
N     False                        66
      True                         15
O     False                        37
      True                         10
W     False                      1834
      True                        768
Name: id, dtype: int64

In [14]:
bodycamera = df.groupby(["race", "body_camera"])["id"].count()
bodycamera = bodycamera.reset_index()
bodycamera

   race  body_camera    id
0     A        False    79
1     A         True    16
2     B        False  1127
3     B         True   229
4     H        False   825
5     H         True   126
6     N        False    69
7     N         True    12
8     O        False    41
9     O         True     6
10    W        False  2344
11    W         True   258

In [19]:
#Basic histogram
x_sc = bqplot.OrdinalScale()
y_sc = bqplot.LinearScale()

x_ax = bqplot.Axis(scale = x_sc)
y_ax = bqplot.Axis(scale = y_sc, 
                   orientation = 'vertical')

hist = bqplot.Hist(sample = race,
                   normalized = False,
                    scales = {'sample': x_sc, 'count': y_sc},
                    bins = 6)
fig = bqplot.Figure(marks = [hist], axes = [x_ax, y_ax])
fig

Figure(axes=[Axis(scale=OrdinalScale()), Axis(orientation='vertical', scale=LinearScale())], fig_margin={'top'…